# Dependencias de Node.js
/node_modules

# Archivos de configuración de entorno
.env

# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de compilación
/dist
/build

# Archivos temporales y de sistema
.DS_Store
Thumbs.db
*.log
*.tmp

# Archivos de editores
.vscode/
.idea/

# Archivos de prueba
/coverage
*.spec.js
*.test.js

# Archivos de cache
/.cache
/.eslintcache
